<div class="second_post_block" *ngFor = "let item of data">
    <div class="category_section2_child1_parent">
        <div class="category_section2_child1_parent_child1">
            <img src="{{item.img}}" alt="">
        </div>
        <div class="category_section2_child1_parent_child2">
            <p class="category_section2_child1_parent_child2_text1">{{item.description}}</p>
            <h2 class="category_section2_child1_parent_child2_title">{{item.title}}</h2>
            <p class="category_section2_child1_parent_child2_text2">{{item.paragraph}}</p>
        </div>
    </div>
</div>