.parrent {
    background-color: #FAFBFF;
    border-radius: 20px;
    padding: 20px;
}

th {
    color: #B5B7C0;
    font-family: "Sen";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00875rem;
    text-align: center;
}

tr {
    text-align: center;
}

/* thead {
    display: flex;
    justify-content: space-between;
    width: 100%
} */

table {
    width: 100%;
    /* padding: 20px; */
}


.first_button {
    background-color: #FFC5C5;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #DF0404;
    color: #DF0404;
}

.second_button {
    border-radius: 20px;
    border: 1px solid #00B087;
    background: rgba(22, 192, 152, 0.38);
    color: #008767;
    font-family: 'sen';
    font-size: 16px;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00875rem;
    padding: 5px;
    margin-left: 10px;
}
.input_style{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fdfdfd2b;
  display: flex;
  align-items: center;
  
    
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
input{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #00B087;
    background-color: #fdfdfda3;
    outline: none;
}