<footer class="footer_style">
    <div class="container">
        <div class="footer_elem1_parrent">
            <div class="footer_elem1_logo"><img src="assets/images/nav_Logo.png" alt=""></div>
            <div class="footer_elem1_links">
                <a class="footer_barr_links" routerLink = "home">Home</a>
                <a class="footer_barr_links" routerLink = "blog">Blog</a>
                <a class="footer_barr_links" routerLink = "about_us">About Us</a>
                <a class="footer_barr_links" routerLink = "contact">Contact us</a>
                <a class="footer_barr_links" routerLink = "privacy_policy">Privacy Policy</a>
            </div>
        </div>
        <div class="openMenu">
            <label  for="opMenu1"><img src="assets/images/main-menu.png" alt=""></label>
            <input hidden type="checkbox" id="opMenu1">
            <div class = "open_menu_links">
                <a class="nav_barr_links"  routerLink = "home">Home</a>
                <a class="nav_barr_links" routerLink = "blog">Blog</a>
                <a class="nav_barr_links" routerLink = "about_us">About Us</a>
                <a class="nav_barr_links" routerLink = "privacy_policy">Privacy Policy</a>
            </div>
        </div>
        <div class="footer_elem_2_parrent">
            <div class="footer_elem_2_child">
                <h2>Subscribe to our news letter to get latest updates and news</h2>
            </div>
            <div class="footer_elem_2_child1">
                <form [formGroup] = "footerForm" method="get">
                    <input formControlName = "email" type="text" name="text" placeholder="Enter Your Email">
                    <button type="submit" [disabled] = "footerForm.invalid" (click) = "sendMail()">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="footer_elem_3_parrent">
            <div class="footer_elem_3_child">
                <p>Finstreet 118 2561 Fintown</p>
                <p>Hello@finsweet.com 020 7993 2905</p>
            </div>
            <div class="footer_elem_3_child1">
                <img src="assets/images/facebook.svg" alt="Facebook Icon">
                <img src="assets/images/twitter.svg" alt="Twitter Icon">
                <img src="assets/images/instagram.svg" alt="Instagram icon">
                <img src="assets/images/linkedIn.png" alt="l">
            </div>
        </div>

    </div>
</footer>
