@font-face {
    font-family: 'Sen';
    src: url('Sen-Regular.woff2') format('woff2'),
        url('Sen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('Sen-ExtraBold.woff2') format('woff2'),
        url('Sen-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('Sen-Bold.woff2') format('woff2'),
        url('Sen-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

