<header class="header_style">
    <div class="container">
        <div class="header_parrent">
            <a routerLink = "/layout/home">
                <div class="header_logo"><img src="assets/images/nav_Logo.png" alt=""></div>
            </a>
            <nav class="nav_barr">
                <a class="nav_barr_links" routerLink="/layout/home">Home</a>
                <a class="nav_barr_links" routerLink="/layout/blog">Blog</a>
                <a class="nav_barr_links" routerLink = "/layout/about_us">About Us</a>
                <a class="nav_barr_links" routerLink = "/layout/contact">Contact us</a>
                <button class="nav_barr_button"><a href="#">Subscribe</a></button>
            </nav>
            <div class="openMenu">
                <label for="opMenu"><img src="assets/images/main-menu.png" alt=""></label>
                <input hidden type="checkbox" id="opMenu">
                <div class="open_menu_links">
                    <a class="nav_barr_links" routerLink="/layout/home">Home</a>
                     <a class="nav_barr_links" routerLink="/layout/blog">Blog</a>
                     <a class="nav_barr_links" routerLink = "/layout/about_us">About Us</a>
                     <a class="nav_barr_links" routerLink = "/layout/contact">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</header>