<section>
<div class="container">
    <div class="contact_section">
        <h2 class="contact_section_title1">Contact us</h2>
        <h3 class="contact_section_title2">Let’s Start a Conversation</h3>
        <p class="contact_section_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim.</p>
        <div class="contact_section_elem1">
            <div class="contact_section_elem1_child">
                <h2 class="contact_section_elem1_child_title">Working hours</h2>
                <p class="contact_section_elem1_child_text">Monday To Friday</p>
                <p class="contact_section_elem1_child_text">9:00 AM to 8:00 PM</p>
                <p class="contact_section_elem1_child_text1">Our Support Team is available 24/7</p>
            </div>
            <div class="contact_section_elem1_child">
                <h2 class="contact_section_elem1_child_title">Contact Us</h2>
                <p class="contact_section_elem1_child_text">020 7993 2905</p>
                <p class="contact_section_elem1_child_text1">hello@finsweet.com</p>
            </div>
        </div>
        <div class="contact_section_form">
            <form method="get">
                <input class = "input_style" type="text" name = "Name" placeholder = "Full Name">
                <input class = "input_style1" type="email" name = "email address" placeholder = "Your Email">
                <select  placeholder = "" class = "form_select">Query Related
                    <option id = "form_select_style">Query Related</option>
                </select>
                <input type="text" class = "input_style2" name = "Message" placeholder="Message">
                <button class = "form_button_style">Send Message</button>
            </form>
        </div>
    </div>
</div>
</section>
