.example-container {
    height: 100vh;
}

mat-form-field {
    display: none;
}

.mat-drawer_style {
    background-color: white;
    padding: 40px;
    padding-top: 0;
    padding-left: 20px;
}

.log_out {
    background-color: #FAFBFF;
    padding: 10px;
    width: 80%;
    border-radius: 10px;

    transform: translateY(-60px);
    transition: 1s;
    position: relative;
    z-index: -2;
}

.log_out a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.log_out p {
    color: #000000;
    font-family: "Sen";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00875rem;
}

mat-drawer-content {
    padding: 12px;
    /* display: flex;
    flex-direction: column; */
    align-items: flex-start;

}

mat-drawer-content::-webkit-scrollbar {
    display: none;
}

.element {
    overflow: '-moz-scrollbars-none';
}



.mat-tree-node cdk-tree-node ng-star-inserted {
    padding-left: 0;
}

::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

.all-posts-component {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: black;
    padding: 10px;


}

.all-posts-component:hover {
    transition: 5s;
    color: black;
    border-bottom: 1px solid;

}

.admin_logo {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.all_posts_parrent {
    /* width: 100px; */
    display: flex;
    margin-bottom: 20px;

}

.all_posts_parrent:hover {

    width: max-content;
}

.all_posts_parrent a {
    display: block;
}

/* .all_posts_component>a:hover{
    color: #008767;

} */

.mat-drawer-container {
    background-color: white;
}

.all-posts-component img {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.all-posts-component:hover img {
    opacity: 1;
}

.all-posts-component img {
    position: relative;
    top: -20px;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.all-posts-component:hover img {
    top: 0;
    opacity: 1;
}

.all-posts-component img {
    margin-right: 5px;
}

.section {
    background-color: #f6f9fe;
    height: 700px;
}

.second_finsveeet_icon {
    display: flex;
    flex-direction: column;
}

.page_author_1>h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-family: Roboto, sans-serif;
    letter-spacing: .0125em;

}

.page_author_1 {
    margin: 0 10px;
}

.second_finsveeet_icon>img {
    /* width: 150px; */
    height: 100px;
}

.page_author_1>h2 {
    font-family: "sen";
    margin-bottom: 0;
}

.page_author_1>h3 {
    font-size: 13px;
    color: gray;
    font-family: "sen";
}

.page_author img {
    width: 80px;
    border-radius: 70%;
}

.page_author {
    display: flex;
    align-items: center;
    background-color: white;
}

.container {
    max-width: 1281px;
    margin: 0 auto;
}