
      
            <div>
                <img src="{{authorsInner.img}}" alt="">
                <h3>{{authorsInner.title}}</h3>
                <p>{{authorsInner.paragraph}}</p>
            </div>
            <div class="item9">
                <div >
                    <div class="authors_list">
                        <a href="" *ngFor="let socItem of authorsInner.socials">
                            <img src="{{socItem}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        
    