.authors_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item9 {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

h3 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6D6E76;
    padding-top: 5px;

}
.item9 img {
    padding-right: 20px;
}

@media screen and (max-width:1280px) {
    
    .home_section6_child{
        justify-content: space-evenly;
    }
}

