<div class="home_section6_child">
    <div class="authors_block" *ngFor="let item of  data">
        <a routerLink="/layout/author">
            <div>
                <img src="{{item.img}}" alt="">
                <h3>{{item.title}}</h3>
                <p>{{item.paragraph}}</p>
            </div>
            <div class="item9">
                <div *ngFor="let item  of data">
                    <div class="authors_list">
                        <img src="{{item.socials}}">
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>