<div class="blog_post_section4_parrent">
  <div class="blog_post_block" *ngFor="let item of data">
        <div class="blog_post_section4_child">
            <img src="{{item.img}}" alt="">
            <div class="blog_post_section4_child_1">
                <div class="blog_posts_section4_child02">
                    <p class="blog_posts_section4_child02_text">By</p>
                    <p class="blog_post_section4_child_text1">{{item.author}}</p>
                    <p class="blog_posts_section4_child02_text">{{item.date}}</p>
                </div>
                <h2>{{item.title}}</h2>
                <p class="blog_post_section4_child_text2">{{item.paragraph}}</p>
            </div>
        </div>
    </div>
</div>