.blog_posts_section4_child02 {
    display: flex;
}

.blog_posts_section4_child02_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;

}

.blog_post_section4_child_text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #592EA9;
    margin-right: 6px;
    margin-left: 6px;
}

.blog_post_section4_child_1>h2 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;

}

.blog_post_section4_child_text2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
    opacity: 0.7;
}
.blog_post_section4_child{
    width: 405px;
}
.blog_post_section4_child > img{
    width: 405px;
}
.blog_post_section4_parrent {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #DEDED0;
    flex-wrap: wrap;
}
@media screen and (max-width:1230px){
    .blog_post_section4_parrent[_ngcontent-ng-c1818763036] {
        justify-content: space-evenly;
    }
   
}