<div class="blog_post_section4_child">
    <img src="{{readsInner.img}}" alt="">
    <div class="blog_post_section4_child_1">
        <div class="blog_posts_section4_child02">
            <p class="blog_posts_section4_child02_text">By</p>
            <p class="blog_post_section4_child_text1">{{readsInner.author}}</p>
            <p  class="blog_posts_section4_child02_text">{{readsInner.date}}</p>
        </div>
        <h2>{{readsInner.title}}</h2>
        <p class="blog_post_section4_child_text2">{{readsInner.paragraph}}</p>
    </div>
</div>