.category_section2_elem2_child_1{  
  border: 2px solid #999A9F;
    padding: 8px 37px;
    border-radius: 28px;
    margin-bottom: 10px;
}
.category_section2_elem2_child_1 a {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    align-items: center;
    color: #232536;
    opacity: 0.7;

}
.category_section2_elem2_child_1{
  text-align: center;
}
.category_section2_elem2_child {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  flex-wrap: wrap;
}
.category_section2_elem2_child_1 a {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  align-items: center;
  color: #232536;
  opacity: 0.7;

}
