.author {
    background-color: #F4F0F8;
    padding-top: 100px;
}

.author_section_parrent {
    margin: auto;
}

.author_section_parrent {
    width: 1024px;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
}

.author_section_child_title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;

}

.author_section_child {
    margin-right: 30px;
}

.author_section_child_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    padding-top: 45px;

}

.author_section_child_icons_parrent {
    display: flex;
}

.author_section_child_icons_child {
    padding-right: 10px;
    padding-top: 34px;
}

.author_color_line_child1 {
    background-color: var(--yellow);
    height: 20px;
    width: 760px;

}

.author_colorLine {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.author_color_line_child2 {
    background-color: var(--purple);
    height: 20px;
    width: 263px;
}

.author_section2 {
    width: 1024px;
    margin: auto;
}

.author_section2 > h2 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
    padding-bottom: 75px;

}

.author_section2_child_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--purple);
    padding-bottom: 40px;
}

.author_section2_parrent {
    display: flex;
    align-items: center;
}

.author_section2_child_title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    padding-bottom: 30px;

}
.author_section_child img{
    width: 270px;
   
}

.author_section2_child_text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;

}
.author_section2_child{
    margin-right: 30px;
    padding-bottom: 50px;
}
.author_section2 {
    padding-top: 50px;
}
@media screen and (max-width:1280px){
    .author_section2 {
        padding-left: 20px;
        padding-right: 20px;
       
    }
    .author_section2 {
        width: 80%;
    }
    .author_section2_child {
        margin-right: 0;
        padding-left: 20px;
    }
    .author_section_parrent {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
}
@media screen and (max-width:1000px){
    .author_section_parrent {
        flex-direction: column;
        align-items: center
    }
    .author_section_child1{
        text-align: center;
    }
    .author_section_child_icons_parrent {
        justify-content: center;
    }
    .author_section2_parrent {
        flex-direction: column;
    }
    .author_section2_child img{
        width: 80vw;
    }
    
    
}
@media screen and (max-width:700px){
    .author_section2_child img {
        height: 40vw;
    }
}
@media screen and (max-width:550px){
    .author_section_child_title {
        font-size: 37px;
    }
    .author_section2_child_title {
        font-size: 30px;
    }
    .author_section2_child_title {
        font-size: 30px;
    }
}
@media screen and (max-width:380px){
    .author_section_child_title {
        font-size: 26px;
    }
    .author_section_child_title {
        line-height: 38px;
        padding-top: 40px;
    }
}
@media screen and (max-width:320px){
    .author_section2_child_title {
        line-height: 34px;
    }
   
}