<div class="new_click">
    <button (click)="open()">new Component</button>
</div>
<div class="parrent">

    <table>
        <thead>

            <th class="title_style">Image</th>
            <th class="title_style">Description</th>
            <th class="title_style">Action</th>
            



        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td class="category_title">
                    <img src="{{item.img}}" alt="">
                </td>
                <td class="category_title">
                    {{item.paragraph}}
                </td>
                <td>
                    <button (click)="delete(item)" class="first_button">Delete</button>
                    <button (click)="edit(item)" class="second_button">Edit</button>
                </td>
            </tr>

        </tbody>
    </table>

</div>


<div class="input_style" [ngStyle]="{'display' : isTrue ? 'flex' : 'none'}">

    <form action="" [formGroup]="form" (ngSubmit)="save(item?.id)">
        <div class="form_parrent_elem">
            <label for="image">Image Address</label>
            <input type="text" formControlName="img" id="image">
            <label for="paragraph">Title</label>
            <input type="text" id = "paragraph" formControlName = "paragraph">
            <button class="save_button">Save</button>

        </div>
        <div class="close_icon">


            <svg (click)="close()" class="svgXmark" xmlns="http://www.w3.org/2000/svg" height="2.5rem"
                viewBox="0 0 384 512">
                <path
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg>
        </div>
    </form>

</div>
<div class="delate_parrent" [ngStyle]="{'display' : closeDelete? 'flex' : 'none'}">
    <div class="delete_child">
        <div class="div_elem_close_icon">
            <svg (click)="close()" class="svgXmark" xmlns="http://www.w3.org/2000/svg" height="2.5rem"
                viewBox="0 0 384 512">
                <path
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg>
        </div>
        <div class="delete_buttons_parrent_stile">
            <p>Do you really want to delete this component?</p>
            <div class="delete_button_stiles">
                <button class="delete_window_button_1" (click)="deleteWindow(item?.id)">Yes</button>
                <button class="delete_window_button_2" (click)="close()">No, Thanks</button>
            </div>
        </div>

    </div>
</div>
