<section class="blog_section_1">
    <div class="container">
        <div class="blog_section1_parrent">
            <div class="blog_section1_child1">
                <p class="blog_section1_child1_text1">Featured Post</p>
                <h2>Step-by-step guide to choosing great<br> font pairs</h2>
                <p class="blog_section1_child1_text3">By <span>John Doe</span> | May 23, 2022</p>
                <p class="blog_section1_child1_text4">Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.</p>
                <button class="blog_section_first_button"><a href="">Read More ></a></button>
            </div>
            <div class="blog_section1_child2">
                <img src="assets/images/blog1.png" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="blog_section_2">
            <h2>All Posts</h2>
            <div class="blog_section_2_parrent">
                <div class="blog_section_2_child">
                    <div class="all_posts_block" >
                        <app-posts></app-posts>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

    <section>
        <div class="container">
            <h2 class="section_4_title">Choose A Catagory</h2>
    
    
            <app-category></app-category>
    
    
    
        </div>
   
</section>
<section>
    <div class="container">
        <div class="section_9_elem">
            <app-join></app-join>
        </div>
    </div>
</section>