<section class="first_section">
    <div class="container">
        <div class="first_section_parrent">
            <p class="first_text_style">Postet on <span class="first_text_elem_style">STARTUP</span></p>
            <h1 class="first_section_header">Step-by-step guide to choosing<br> great font pairs</h1>
            <p class="first_section_text">By <span class="first_section_text_elem">James West</span> | May 23, 2022
            </p>
            <p class="first_section_last_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu<br>
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <button class="section1_button"><a class="section1_button_style" href="">Read More ></a></button>
        </div>
    </div>

</section>
<section class="menu_second_section">
    <div class="container">
        <div class="second_section_second_parrent">
            <div class="second_section_second_elem1">
                <div class="second_section_second_elem1_child">
                    <p class="second_section_elem1">Featured Post</p>
                    <img src="assets/images/2photo_menu.jpg">
                    <p class="second_section_elem1_text">By <span class="second_section_elem1_text2">John Doe</span>
                        | May 23, 2022</p>
                    <p class="second_section_elem1_text_2">Lorem ipsum dolor sit amet, consectetur adipiscing<br>
                        elit, sed do eiusmod tempor.</p>
                    <p class="second_section_elem1_text_3">Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore<br>
                        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>

                </div>
            </div>
            <div class="second_section_second_elem2">
                <div class="second_section_second_elem_2_2">
                    <p class="second_section_elem1">All Posts</p>
                    <a href="../Html/author.html"></a>
                    <p class="second_section_elems3">View All</p>
                </div>
                <div class="second_section_second_elem_2_2_1">

                    <app-home-posts></app-home-posts>
                </div>


            </div>

        </div>
        <button class="section1_button"><a class="section1_button_style" href="">Read More
                ></a></button>
    </div>

</section>
<section class="section_menu_3">
    <div class="container">
        <div class="section_3_colorLine">
            <div class="colorLine1"></div>
            <div class="colorLine2"></div>
            <div class="colorLine3"></div>
        </div>
        <div class="section_home_3_elem1">
            <div class="section_3_elem1_parrent">
                <div class="section_3_elem1_child1">
                    <p class="section_3_elem1_child1_1">ABOUT US</p>
                    <h2 class="section_3_elem1_child1_2">We are a community of<br> content writers who share
                        their<br>
                        learnings</h2>
                    <p class="section_3_elem1_child1_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#">Read More ></a>
                </div>
                <div class="section_3_elem1_child2">
                    <p class="section_3_elem1_child1_1">Our mision</p>
                    <h2 class="section_3_elem1_child1_2">Creating valuable content for<br> creatives all around the
                        world</h2>
                    <p class="section_3_elem1_child1_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do<br> eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                        Ut<br> enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi<br> ut aliquip
                        ex ea
                        commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="section_4_title">Choose A Catagory</h2>


        <app-category></app-category>



    </div>
</section>
<section class="home_section_5">
    <div class="container">
        <div class="section_5_background">
            <div class="section_5_elem_parrent">
                <div class="section_5_elem_child">
                    <p class="section_5_elem_child1">Why we started</p>
                    <h2 class="section_5_elem_child2">It started out as a simple idea and evolved into our passion
                    </h2>
                    <p class="section_5_elem_child3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <button class="section1_button"><a class="section1_button_style" href="#">Discover our story >
                        </a></button>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="home_section_6">
            <h2 class="home_section_6_parrent_title">List of Authors</h2>
            <!-- <div class="home_section6_parrent"> -->



            <app-authors></app-authors>


            <!-- </div> -->
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="home_section_7_parent">
            <div class="home_section_7_child"><img src="assets/images/we1.png" alt=""></div>
            <div class="home_section_7_child"><img src="assets/images/we2.png" alt=""></div>
            <div class="home_section_7_child"><img src="assets/images/w3.png" alt=""></div>
            <div class="home_section_7_child"><img src="assets/images/we4.png" alt=""></div>
            <div class="home_section_7_child"><img src="assets/images/w5.png" alt=""></div>
            <div class="home_section_7_child"><img src="assets/images/w6.png" alt=""></div>

        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="home_section_8">
            <div class="home_section_8_parrent">
                <div class="secction_8_child">
                    <p class="section_8_child_text">TESTIMONIALS</p>
                    <h2 class="section_8_child_title">What people say<br> about our blog</h2>
                    <p class="section_8_child_text_2">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit,
                        sed do eiusmod tempor.</p>
                </div>
                <div class="secction_8_child_1"></div>
                <div class="section_8_child_3_parrent">
                    <div class="secction_8_child_3">
                        <h2 class="section_8_child_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
                    </div>
                    <div class="section_8_child_3_parrent_2">
                        <div class="section_8_child_3_elem2">
                            <div class="section_8_child_3_elem2_img"><img src="assets/images/user5.png" alt=""></div>
                            <div class="section_8_child_3_elem3">
                                <p class="section_8_child_3_elem3_text">Jonathan Vallem</p>
                                <p class="section_8_child_3_elem3_text_1">New york, USA</p>
                            </div>
                        </div>
                        <div class="section_8_child_3_2_elem2">
                            <div class="section_8_child_3_2_elem2_elems"><a href="../">←</a></div>
                            <div class="section_8_child_3_2_elem2_elems"><a href="../Html/blog.html">→</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="section_9_elem">
            <app-join></app-join>
        </div>
    </div>
</section>