<div class="parrent">
    <div class="child">
        <div class="img_parrent">
            <img src="assets/images/profile-2user.svg" alt="">
        </div>
        <div class="section1_elem">
            <p class="first_text">Category`s Length</p>
            <p class="second_text">{{data.length}}</p>
        </div>
    </div>
    <div class="border-right"></div>
    <div class="child">
        <div class="img_parrent">
            <img src="assets/images/profile-tick.svg" alt="">
        </div>
        <div class="section1_elem">
            <p class="first_text">Users`s Length</p>
            <p class="second_text">{{sec_data.length}}</p>
        </div>
    </div>
    <div class="border-right"></div>
    <div class="child">
        <div class="img_parrent">
            <img src="assets/images/monitor.svg" alt="">
        </div>
        <div class="section1_elem">
            <p class="first_text">Post`s Length</p>
            <p class="second_text">{{third_data.length}}</p>
        </div>
    </div>
    

</div>
<router-outlet></router-outlet>