<section>
    <div class="container">
        <div class="blog_post_section1">
            <div class="blog_post_section1_child1_parrent">
                <div class="blog_post_section1_child1_child1">
                    <img src="assets/images/user5.png" alt="">
                </div>
                <div class="blog_post_section1_child1_child2">
                    <h4>Andrew Jonson</h4>
                    <p>Posted on 27th January 2022</p>
                </div>
            </div>
            <h2 class="blog_post_section_title">Step-by-step guide to choosing great font pairs</h2>
            <img src="assets/images/Category label.png" alt="">
        </div>
    </div>
</section>
<section>
    <div class="container">
        <img class="blog_post_section2" src="assets/images/blogPost1.png" alt="">
    </div>
</section>
<section>
    <div class="container">
        <div class="blog_post_section_3">
            <h2 class="blog_post_section_3_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.</h2>
            <p class="blog_post_section_3_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
                viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et
                magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque
                egestas diam.
                Risus in hendrerit gravida rutrum quisque non.</p>
            <h2 class="blog_post_section_3_title_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.</h2>
            <p class="blog_post_section_3_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
                viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et
                magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque
                egestas diam.
                Risus in hendrerit gravida rutrum quisque non.</p>
            <p class="blog_post_section_3_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
                viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et
                magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque
                egestas diam.
                Risus in hendrerit gravida rutrum quisque non.</p>
            <ul class="blog_post_section_3_ul">
                <li class="blog_post_section_3_li">Lorem ipsum dolor sit amet</li>
                <li class="blog_post_section_3_li">Non blandit massa enim nec scelerisque</li>
                <li class="blog_post_section_3_li">Neque egestas congue quisque egestas</li>
            </ul>
            <p class="blog_post_section_3_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
                viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et
                magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque
                egestas diam.
                Risus in hendrerit gravida rutrum quisque non.</p>
            <h2 class="blog_post_section_3_title_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.</h2>
            <p class="blog_post_section_3_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
                viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et
                magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque
                egestas diam.
                Risus in hendrerit gravida rutrum quisque non.</p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="blog_post_section4">
            <h2 class="blog_post_section4_title">What to read next</h2>
            <div class="blog_post_section4_parrent">
                <div class="blog_post_block" *ngFor = "let item of reads">
                    <app-reads [readsInner] = "item"></app-reads>
                </div>
            </div>
        </div>
    </div>
    
</section>
<section>
    <div class="container">
        <div class="section_9_elem">
            <div class="section_9_elem_1">
                <h2 class="section_9_elem_title">Join our team to be a part of our story</h2>
                <p class="section_9_elem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt.</p>
            </div>
            <button class="section1_button"><a class="section1_button_style" href="#">Join Now
                </a></button>
        </div>
    </div>
</section>