.category_section2_child2_child_text{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    padding-left: 20px;
}
.category_section2_child2_child {
    width: 296px;
    border: 1px solid #C1C1C3;
    margin-top: 30px;
}
.category_section2_child2_child {
    display: flex;
    padding:24px
}
.category_section2_child2_parent :hover {
    background-color: var(--yellow);
  }